bluesky
bluesky-adaptive
bluesky-widgets[jupyter]
ipympl
ipywidgets>=7.6.0
jupyterlab==3.*
matplotlib==3.2.2
numpy==1.19.1
ophyd
pandas
tensorboard==2.2.1
tensorflow==2.2.0
tensorforce==0.5.5
toolz==0.10.0